div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.p1-fcolor {
    color: red;
}

.p2-fcolor {
    color: #01f301;
}

.p3-fcolor {
    color: #ffbe00;
}

.p4-fcolor {
    color: #2f9dfb;
}

.p1-color {
    background-color: red;
}

.p2-color {
    background-color: #01f301;
}

.p3-color {
    background-color: #ffbe00;
}

.p4-color {
    background-color: #2f9dfb;
}

.pw-row {
    width: 100%;
    height: 16.66%;
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.pw-col {
    height: 100%;
    width: 16.66%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.pw-col .pw-box {
    width: 100%;
    height: 33.33%;
}

.pw-row .pw-box {
    height: 100%;
    width: 33.33%;
}

.dice1 {
    background-image: url("/static/images/dice1.png");
    background-size: 100%;
}

.dice2 {
    background-image: url("/static/images/dice2.png");
    background-size: 100%;
}

.dice3 {
    background-image: url("/static/images/dice3.png");
    background-size: 100%;
}

.dice4 {
    background-image: url("/static/images/dice4.png");
    background-size: 100%;
}

.dice5 {
    background-image: url("/static/images/dice5.png");
    background-size: 100%;
}

.dice6 {
    background-image: url("/static/images/dice6.png");
    background-size: 100%;
}

.dicediv {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.diceDivY {
    width: 60px;
    height: 600px;
    text-align: center;
    font-size: 2em;
}

.diceDivX {
    width: 600px;
    height: 60px;
    margin: auto;
    text-align: center;
    font-size: 2em;
}

#p1nametxt {
    width: fit-content;
    margin-left: 20px;
    display: inline;
    float: left;
}

#p3nametxt {
    width: fit-content;
    margin-left: 20px;
    display: inline;
    float: left;
}

#p2nametxt {
    transform: rotate(90deg);
    margin-top: 40px;
    white-space: nowrap;
    display: inline;
    float: left;
    width: 75px;
}

#p4nametxt {
    transform: rotate(270deg);
    margin-top: 540px;
    white-space: nowrap;
    display: inline;
    float: left;
    width: 40px;
}

#diceDivP3 {
    transform: rotate(180deg);
}

#outer {
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.arrow {
    width: 100%;
    text-align: center;
    margin-top: 25%;
    z-index: -1;
}

.star {
    width: 100%;
    margin-top: 5%;
    margin-left: 7%;
    font-size: 2.5em;
    opacity: 0.4;
    z-index: -1;
}

.br-l {
    border-left: 1px solid black;
}

.br-r {
    border-right: 1px solid black;
}

.br-t {
    border-top: 1px solid black;
}

.br-b {
    border-bottom: 1px solid black;
}

.playerbase {
    height: 100%;
    width: 40%;
}

.players-row {
    height: 50%;
    width: 100%;
    display: flex;
}

.player {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.players-grid {
    width: 50%;
    height: 100%;
    padding: 10%;
}

.dummy10 {
    height: 15%;
}

.playerbase-inner {
    width: 70%;
    height: 70%;
    border: 1px solid black;
    margin: auto;
    z-index: 1;
    background-color: white;
}

#home {
    width: 20%;
    height: 100%;
}

.pathway-vertical {
    height: 100%;
    width: 20%;
}

.pathway-horizontal {
    height: 100%;
    width: 40%;
    display: flex;
}

#top {
    width: 100%;
    height: 40%;
    display: flex;
}

#middle {
    width: 100%;
    height: 20%;
    display: flex;
}

#bottom {
    width: 100%;
    height: 40%;
    display: flex;
}

.dice-spinner {
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

.loader {
    -webkit-animation: spin 4s linear infinite;
    /* Safari */
    animation: spin 4s linear infinite;
}

.spin-loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #000;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}